@import url('normalize.css');

/* ------ ------ Estilos de normalización ------ ------ */

body{
    background: rgb(241, 241, 241);
}

.navigation{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #1EBEA5;
    color: #fff;
    text-decoration: none;
}

section{
    background: #232F3C;
    color: #fff;
    padding: 10px;
    text-align: center;
}

article .do{
    background: #00BCD4;
    color: black;
}